@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
--subcolor:#009999;
--mainFont:"Poppins", sans-serif;
--subFont:"Inter", sans-serif;
--maincolor:black;

}

a{
text-decoration: none;
color: var(--maincolor);
}
ul{
list-style-type: none;


}
.container{
width: calc( 100% - 120px);
margin: auto;

}
.row{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

/*//////////////////////////////////////////////////////////////////////////*/




@import './base.css';

header{
 font-family:var( --mainFont);
 padding: 10px 10px;
 box-shadow: 1px -1px 20px 0px var(--subcolor);
position: sticky;
top: 0px;
background-color: white;
}
header .row div{
width: 30%;
text-align: center;

 }

header .logo  img {
width: 20%;
}
header .menubotton{
display: none;

}
 header .navbar ul{
display: flex;
justify-content: space-between;
gap: 10px;
 }
 header .navbar ul a:hover{
font-weight: 600;
}

 header .headericon{
display: flex;
justify-content: center;
 gap:10px;
 }

 
@media screen and (max-width:987px) {
header .container{
width: calc( 100% - 40px);

}

header .menubotton{
    display: block;
    order:1;

}
 .navbar {
    display: none;
 }   

}
@media screen and (max-width:600px) {
    header{
       padding: 5px 5px; 
    }
header .container{
width: 100%;

}
header .logo  img {
width: 30%;
}

}
@media screen and (max-width:335px) {
    header{
        padding: 10px 10px;
    }
   header .headericon{
        display: none;
    }
    header .logo  img {
width: 50%;
}
}
/* ----------------------------------------End of header css ------------------------------ */

