
/* ----------------------------------------Start of About-section upper-half css ------------------------------ */
.about-section .upper-half{
height: 19em;

}
.about-section .container,
.about-section .container .upper-half .row{
  height: 100%;
}
.about-section .container .upper-half .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}
.about-section .upper-half .row > div {
height:50% ;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
gap: 1em;
box-shadow: 0em 0em 0.5em 0em var(--subcolor);
}
.about-section .upper-half .row > div i {
color: var(--subcolor);
font-size: 2em;

}
@media screen and (max-width:800px )
{
 .about-section .container .upper-half .row {
    flex-wrap: wrap;
    gap: 1em;
  }
  .about-section .upper-half .row > div{
    width: 30%;
  }

}
@media screen and (max-width:570px)
{
  .about-section .container {
 width: calc( 100% - 40px );

  }
 .about-section .upper-half .row > div{
    width: 45%;
  }

}

/* ----------------------------------------End of About-section upper-half css ------------------------------ */
/* ----------------------------------------Start of About-section lower-half css ------------------------------ */
.about-section .lower-half .row > div {
  width: 45%;
}


.about-section .lower-half .about-photo img {
width: 100%;
height: auto;
}
.about-section .lower-half .about-right {
display: flex;
flex-direction: column;
gap:3em;

}
.about-section .lower-half .about-right .about-us p {
font-size: 2em;
font-weight: 700;
font-family: var(--subFont);

}
.about-section .lower-half .about-right  .learnbotton{
width: 20%;

}
@media screen and (max-width:1030px ) {
.about-section .lower-half .about-right  .learnbotton {
  width: 40%;
}

}
@media screen and (max-width:415px )
{ 

  .about-section .container {
    width: 100%;
  }
  .about-section .lower-half {
    margin-top: 2em;
  }
.about-section .lower-half .row {
flex-direction: column;

}
.about-section .lower-half .row > div
{
width: 65%;
}
.about-section .lower-half .about-right {
  width: 100%;
gap:1.5em;
text-align: center;
align-items: center;
}
.about-section .lower-half .about-right .description p{
  width: 20em;
}
.about-section .lower-half .about-right  .learnbotton {
  width: 50%;
  text-align: center;
}
}
/* ----------------------------------------end of About-section lower-half css ------------------------------ */

#Featured,
#Arrivals {
  font-family: var(--mainFont);
  background-color: white;
}

#Featured>h1,
#Arrivals>h1 {
  color: black;
  text-align: center;
  font-size: 2.5em;
  margin: 0.5em;
  margin: 1em 0 ;

}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12,
.card13,
.card14,
.card15 {
  border: 0.12em solid black;
  padding: 1em;
  margin-right: 3.8em;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: var(--mainFont);
  background: white;
  flex-grow: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.card1 h3,
.card2 h3,
.card3 h3,
.card4 h3,
.card5 h3,
.card6 h3,
.card7 h3,
.card8 h3,
.card9 h3,
.card10 h3,
.card11 h3,
.card12 h3,
.card13 h3,
.card14 h3,
.card15 h3 {
  font-size: 1em;
  margin: 0.5em 0;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img,
.card7 img,
.card8 img,
.card9 img,
.card10 img,
.card11 img,
.card12 img,
.card13 img,
.card14 img,
.card15 img {
  width: auto;
  height: 15em;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;

}

.card1 .author,
.card2 .author,
.card3 .author,
.card4 .author,
.card5 .author,
.card6 .author,
.card7 .author,
.card8 .author,
.card9 .author,
.card10 .author,
.card11 .author,
.card12 .author,
.card13 .author,
.card14 .author,
.card15 .author {
  color: #868686;
  font-size: 0.8em;
  margin-bottom: 0.25em;
}

.card1 .genres,
.card2 .genres,
.card3 .genres,
.card4 .genres,
.card5 .genres,
.card6 .genres,
.card7 .genres,
.card8 .genres,
.card9 .genres,
.card10 .genres,
.card11 .genres,
.card12 .genres,
.card13 .genres,
.card14 .genres,
.card15 .genres {
  color: var(--subcolor);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.card1 .price,
.card2 .price,
.card3 .price,
.card4 .price,
.card5 .price,
.card6 .price,
.card7 .price,
.card8 .price,
.card9 .price,
.card10 .price,
.card11 .price,
.card12 .price,
.card13 .price,
.card14 .price,
.card15 .price {
  font-size: 0.9em;
  margin-bottom: 0.6em;
}

.card1 .price .current,
.card2 .price .current,
.card3 .price .current,
.card4 .price .current,
.card5 .price .current,
.card6 .price .current,
.card7 .price .current,
.card8 .price .current,
.card9 .price .current,
.card10 .price .current,
.card11 .price .current,
.card12 .price .current,
.card13 .price .current,
.card14 .price .current,
.card15 .price .current {
  color: black;
  font-weight: bold;
}

.card1 .price .original,
.card2 .price .original,
.card3 .price .original,
.card4 .price .original,
.card5 .price .original,
.card6 .price .original,
.card7 .price .original,
.card8 .price .original,
.card9 .price .original,
.card10 .price .original,
.card11 .price .original,
.card12 .price .original,
.card13 .price .original,
.card14 .price .original,
.card15 .price .original {
  font-size: 0.8em;
  text-decoration: line-through;
  color: #a7a5a5;
  position: relative;
  top: 0.2em;
}

.card1 .learn-more,
.card2 .learn-more,
.card3 .learn-more,
.card4 .learn-more,
.card5 .learn-more,
.card6 .learn-more,
.card7 .learn-more,
.card8 .learn-more,
.card9 .learn-more,
.card10 .learn-more,
.card11 .learn-more,
.card12 .learn-more,
.card13 .learn-more,
.card14 .learn-more,
.card15 .learn-more {
  border: 0.133em solid var(--subcolor);
  background: none;
  color: black;
  padding: 0.8em 1.2em;
}


footer {
    background-color: var(--bg-light);
    margin-top: 3.5rem;
}

.footer-inner {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 1.25rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 2rem;
    font-size: 0.875rem;
}

.footer-brand img {
    height: 2.25rem;
    margin-bottom: 0.75rem;
}

.footer-brand p {
    color: var(--text-muted);
}

.footer-col h4 {
    margin-bottom: 0.75rem;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 0.5rem;
    color: var(--text-muted);
}

.footer-col a {
    color: var(--text-muted);
    text-decoration: none;
}

.newsletter input {
    width: 100%;
    padding: 0.5rem 0.625rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #cccccc;
}

.footer-bottom {
    text-align: center;
    font-size: 0.8125rem;
    padding: 0.75rem 0 1rem;
    color: var(--text-muted);
}


