
/* ----------------------------------------Start of About-section upper-half css ------------------------------ */
.about-section .upper-half{
height: 19em;

}
.about-section .container,
.about-section .container .upper-half .row{
  height: 100%;
}
.about-section .container .upper-half .row {
  flex-wrap: nowrap;
  justify-content: space-around;
}
.about-section .upper-half .row > div {
height:50% ;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
gap: 1em;
box-shadow: 0em 0em 0.5em 0em var(--subcolor);
}
.about-section .upper-half .row > div i {
color: var(--subcolor);
font-size: 2em;

}
@media screen and (max-width:800px )
{
 .about-section .container .upper-half .row {
    flex-wrap: wrap;
    gap: 1em;
  }
  .about-section .upper-half .row > div{
    width: 30%;
  }

}
@media screen and (max-width:570px)
{
  .about-section .container {
 width: calc( 100% - 40px );

  }
 .about-section .upper-half .row > div{
    width: 45%;
  }

}

/* ----------------------------------------End of About-section upper-half css ------------------------------ */
/* ----------------------------------------Start of About-section lower-half css ------------------------------ */
.about-section .lower-half .row > div {
  width: 45%;
}


.about-section .lower-half .about-photo img {
width: 100%;
height: auto;
}
.about-section .lower-half .about-right {
display: flex;
flex-direction: column;
gap:3em;

}
.about-section .lower-half .about-right .about-us p {
font-size: 2em;
font-weight: 700;
font-family: var(--subFont);

}
.about-section .lower-half .about-right  .learnbotton{
width: 20%;

}
@media screen and (max-width:1030px ) {
.about-section .lower-half .about-right  .learnbotton {
  width: 40%;
}

}
@media screen and (max-width:415px )
{ 

  .about-section .container {
    width: 100%;
  }
  .about-section .lower-half {
    margin-top: 2em;
  }
.about-section .lower-half .row {
flex-direction: column;

}
.about-section .lower-half .row > div
{
width: 65%;
}
.about-section .lower-half .about-right {
  width: 100%;
gap:1.5em;
text-align: center;
align-items: center;
}
.about-section .lower-half .about-right .description p{
  width: 20em;
}
.about-section .lower-half .about-right  .learnbotton {
  width: 50%;
  text-align: center;
}
}
/* ----------------------------------------end of About-section lower-half css ------------------------------ */

