@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
--subcolor:#009999;
--mainFont:"Poppins", sans-serif;
--subFont:"Inter", sans-serif;
--maincolor:black;

}

a{
text-decoration: none;
color: var(--maincolor);
}
ul{
list-style-type: none;


}
.container{
width: calc( 100% - 120px);
margin: auto;

}
.row{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

/*//////////////////////////////////////////////////////////////////////////*/




@import './base.css';

header{
 font-family:var( --mainFont);
 padding: 10px 10px;
 box-shadow: 1px -1px 20px 0px var(--subcolor);
position: sticky;
top: 0px;
background-color: white;
}
header .row div{
width: 30%;
text-align: center;

 }

header .logo  img {
width: 20%;
}
header .menubotton{
display: none;

}
 header .navbar ul{
display: flex;
justify-content: space-between;
gap: 10px;
 }
 header .navbar ul a:hover{
font-weight: 600;
}

 header .headericon{
display: flex;
justify-content: center;
 gap:10px;
 }

 
@media screen and (max-width:987px) {
header .container{
width: calc( 100% - 40px);

}

header .menubotton{
    display: block;
    order:1;

}
 .navbar {
    display: none;
 }   

}
@media screen and (max-width:600px) {
    header{
       padding: 5px 5px; 
    }
header .container{
width: 100%;

}
header .logo  img {
width: 30%;
}

}
@media screen and (max-width:335px) {
    header{
        padding: 10px 10px;
    }
   header .headericon{
        display: none;
    }
    header .logo  img {
width: 50%;
}
}
/* ----------------------------------------End of header css ------------------------------ */


.intro-section {
margin-top: 2%;
background-image: url('../image/intro-sectionimage/background/bg.png');
background-size: cover ;
background-position: center;
height: 600px;
}
.intro-section .container{
  height: 100%;
}
.intro-section .row{
  height: 100%;


}


.intro-section .left-half {
  margin-top: 10%;
  width:50%;
height: 100%;
display: flex;
flex-direction: column;

gap:40px;

}

.intro-section .left-half .welcome p {
    font-family: var(--subFont);
font-size: 50px;
font-weight: 700;
text-transform: uppercase;


}

.intro-section .left-half .welcome p span {
color: var(--subcolor) ;
}

.intro-section .left-half .description {
width: 70%;

}

 .learnbotton {
    width: 15%;
    font-size: small;
    font-family: var(--subFont);
    text-align: center;
    padding: 7px 10px;
display: inline-block ;

background-color: var(--subcolor);
color: white;
border:solid var(--subcolor) ;


}
.intro-section .right-half{

  width:50%;
height: 100%;
} 
.intro-section .right-half img {
    width: 100%;
    display: block;
    height: auto;
}
@media screen and (max-width: 1030px){
  .intro-section {
    height: 853px;

  }
.intro-section .row {
flex-direction: column;
flex-wrap: nowrap;
align-items: flex-start;
}
    
.intro-section .right-half, 
.intro-section .left-half {
width: 100%;
}
    
 .learnbotton {
  font-size: large;


}
}

@media screen and (max-width: 600px) {
    .intro-section {
    height: 700px;

  }
  .intro-section .row {
  gap: 15px;
}
    
.intro-section .left-half {
  align-items: center;
}
    
.intro-section .left-half .learnbotton {
  width: 35%;

}

}
@media screen and (max-width: 465px) {

.intro-section .container {
  width: 100%;
}

    
.intro-section .left-half .welcome p {
  font-size: 40px;
}


}
/* ----------------------------------------End of intro-section css ------------------------------ */
/*
////
///  Welcome to hell ;(
///////
*/

/* ----------------------------------------start of Digital-Bokk-section lower-half css ------------------------------ */

.digital-book {
margin: 3.5em 0;

}

.digital-book img {
    width: 100%;
    height: auto;
    display: block;
}
.d-book {
    position: relative;
    width: 100%;
    height: auto;
}
 .digital-book .learnbotton{
  
  
    border: none;

    position: absolute;
    bottom: 25%;
    left: 7%;

}

@media screen and (max-width:415px ) {

.digital-book .learnbotton {
bottom: 14%;
      left: 7%;
        width: 13%;
        font-size: 0.2em;

}

}

/* ----------------------------------------End of Digital-Bokk-section lower-half css ------------------------------ */



